$main-shadow: 0 3px 8px 0 var(--shadow)
$main-greater-shadow: 0 4px 12px 0 var(--shadow)
$main-tighter-shadow: 0 1px 5px -1px var(--shadow)
$darker-tighter-shadow: 0 2px 5px -1px var(--darker-shadow)
$upper-darker-tighter-shadow: 0 -2px 4px 0 var(--darker-shadow)
